ProgressSoftAssignment/.data/
ProgressSoftAssignment/Model/classes/
ProgressSoftAssignment/ProgressSoftWeb/target/maven-status/
ProgressSoftAssignment/ProgressSoftWeb/target/
ProgressSoftAssignment/target/
ProgressSoftAssignment/ProgressSoftWeb/classes/
ProgressSoftAssignment/ProgressSoftWeb/src/main/webapp/WEB-INF/temp/adf/styles/cache/main-desktop-sk40oc--d-webkit-537-d-ltr-d--s-n-c.css
ProgressSoftAssignment/Model/database/MySQL/
